.verticalDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
}

.overallDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerGreeting {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.urlInputDiv {
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.urlShortenerForm,
.shortenedOutputForm {
  min-width: 800px;
  max-width: 70%;
  width: 100%;
}

.urlShortenerInputField,
.shortenedOutputField {
  width: 100%;
}

.inputIconDiv {
  display: flex;
  align-items: center;
}

.copyIcon:hover {
  cursor: pointer;
  color: blue;
}

.linkIconOriginalLinkDiv {
  display: flex;
  align-items: center;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  color: black !important;
}

.errorHint {
  color: red;
}

.urlShortener {
  font-weight: bold;
  font-size: 40px;
}

.webpageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
